[
  {erlang_api, [

  ]},
  {pgapp, [
    {pools, [
        {pgdb, [
                {size, 5},
                {max_overflow, 20}
            ],
            [
                {host, "localhost"},
                {database, "erlang_api"},
                {username, "user"},
                {password, "pass"}
            ]}
        ]
    }]
  }].